@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*GENERAL*/

:root {
    --primary-color: #003BCE; /* Couleur principale */
    --primary-bold-color: #001B70;
    --secondary-color: #FFCE00; /* Couleur secondaire */
    --accent-color: #ffffff; /* Couleur d'accent */
    --text-color: #010C21; /* Couleur du texte */
    --alert-color:#FF0000;/*Pour l'alert*/
    --background-color: #c2bcbc; /* Couleur d'arrière-plan */
    --text2-color:#000000;

}


*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Empêche le défilement global */
    overflow-x: hidden; /* Empêche le défilement horizontal */
    
}

section {
    position: relative;
    width: 100vw;
    overflow: auto; /* Permet le défilement à l'intérieur de la section si nécessaire */
}


/* Animation Keyframe */
@keyframes fadeInUpScale {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  /* Style pour les sections animées uniquement */
  .section {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* Appliquer l'animation uniquement aux sections en vue */
  .section.in-view {
    animation: fadeInUpScale 0.8s ease forwards;
  }
  




/*SECTION_ACCEUIL*/

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 65px;
    background-color: var(--alert-color);
    align-items: center;
    color: var(--accent-color);
    gap: 20px;
    z-index: 1; /* Assure que le header est sous la navbar fixe */
}

header i{
    color: #000000;
    font-size: 50px;
    margin: 0 30px;
}

header p{
    font-size: 0.8rem;
}

.navbar {
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0; /* Place la navbar en haut */
    left: 0;
    right: 0;
    animation: slideIn 2s ease-out;
    width: 100%; /* Prend toute la largeur de la fenêtre */
    height: 90px; /* Hauteur de la navbar */
    background-color: var(--accent-color); /* Couleur de fond de la navbar */
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-around; /* Espacement égal entre les éléments */
    z-index: 1000; /* Assure que la navbar est au-dessus du contenu */
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour la distinction */
}
/* Ajoutez un padding supérieur au body pour éviter que le contenu ne soit caché derrière la navbar */
body {
    padding-top: 90px; /* Ajustez cette valeur selon la hauteur de votre navbar */
}

.navbar img{
    width: 170px;
}
.menu{
    display: flex;
    gap: 20px;
    
    
}

.menu a{
    font-weight: 600;
    font-size: 18px;
    gap: 20px;
    color: var(--text-color);
    transition: 1s;
    display: inline-block; /* Assure que le pseudo-élément prend toute la largeur */
    overflow: hidden; /* Cache le débordement de l'animation */
    
}
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Largeur initiale de la bordure */
    height: 2px; /* Épaisseur de la bordure */
    background-color: var(--secondary-color); /* Couleur de la bordure */
    transition: width 1s ease; /* Transition de la largeur de la bordure */

}
.menu a:hover{
    color: var(--primary-bold-color); /* Couleur du texte au survol */
    font-weight: 700;
}

.menu a:hover::after {
    width: 100%; /* Largeur finale de la bordure */
}

.menu a.active{
    color: var(--primary-color);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search-container input[type="search"] {
    padding: 10px 40px 10px 20px; /* Ajout de l'espace pour l'icône */
    border: 1px solid var(--background-color);
    border-radius: 20px;
    font-size: 0.5rem;
    width: 500px;
}

.search-button {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--text-color);
}

.search-button i {
    font-size: 20px;
}


/* Montrer le menu lorsqu'il est actif */
.menu.active {
    display: flex;
}


/* Style du menu déroulant */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--accent-color); /* Utilisation de la couleur d'accentuation */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet de profondeur */
    z-index: 10;
    min-width: 150px;
}

.submenu a {
    display: block;
    color: var(--text-color); /* Couleur du texte */
    padding: 10px 20px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.submenu a:hover {
    background-color: var(--primary-bold-color); /* Changement de couleur au survol */
    color: #fff; /* Couleur de texte au survol */
}

/* Afficher le sous-menu au survol */
.dropdown:hover .submenu {
    display: block;
}



/* Responsive styles */
@media (max-width: 768px) {
    .submenu {
        position: static; /* Change position for mobile */
        width: 100%; /* Make submenu full width */
    }

    .submenu a {
        padding: 10px; /* Adjust padding for touch devices */
        font-size: 12px; /* Taille de police plus petite pour mobile */
    }

    /* Show submenu when dropdown is clicked on mobile */
    .dropdown-toggle:focus + .submenu,
    .dropdown-toggle:active + .submenu {
        display: block;
    }
}

/* For better touch support */
@media (max-width: 480px) {
    .dropdown-toggle {
        font-size: 16px; /* Taille de police plus petite pour les dispositifs tactiles */
    }

    .submenu a {
        padding: 12px 10px; /* Adjust padding for better touch area */
        font-size: 12px; /* Taille de police plus petite pour mobile */
    }
}
/* Media Queries pour la responsivité */

@media (max-width: 1290px) {
    .navbar {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        height: auto;
        padding: 10px;
        overflow-x: hidden; /* Empêche les débordements horizontaux */
    }

    .menu {
        justify-content: center;
        gap: 20px;
        width: 100%; /* Assure que le menu prend toute la largeur */
        margin: 0;
    }

    .navbar img {
        width: 120px;
        max-width: 100%; /* Assure que l'image ne dépasse jamais 100% de la largeur */
    }

    .menu a {
        font-size: 12px;
        margin: 20px 0;
    }

    .search-container input[type="search"] {
        max-width: 90vw; /* Définit une largeur maximale */
    }

    body, html {
        width: 100%;
        overflow-x: hidden; /* Empêche les débordements horizontaux */
        padding-top: 90px;
    }
}



/*ACCUEIL*/

.accueil{
    position: relative;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.background-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.accueil img {
    height: 100%;  /* L'image prend toute la hauteur de la div */
    width: 100%;   /* L'image prend toute la largeur de la div */
    object-fit: cover;  /* Cette propriété assure que l'image remplit la div tout en coupant les parties extérieures si nécessaire */
}


/* Montrer le menu lorsqu'il est actif */
.menu.active {
    display: flex;
}

/* Media Queries pour la responsivité */

@media (max-width: 1290px) {
    .navbar {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        height: auto;
        padding: 10px;
        overflow-x: hidden; /* Empêche les débordements horizontaux */
    }

    .menu {
        justify-content: center;
        gap: 20px;
        width: 100%; /* Assure que le menu prend toute la largeur */
        margin: 0;
    }

    .navbar img {
        width: 120px;
        max-width: 100%; /* Assure que l'image ne dépasse jamais 100% de la largeur */
    }

    .menu a {
        font-size: 14px;
        margin: 20px 0;
    }

    .search-container input[type="search"] {
        max-width: 90vw; /* Définit une largeur maximale */
    }

    .elearning-button {
        display: none;
    }

    body, html {
        width: 100%;
        overflow-x: hidden; /* Empêche les débordements horizontaux */
    }
}




/*SECTION_CARD*/

.header .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: -100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Toujours 4 cartes */
    gap: 25px;
    justify-content: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.card a{
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text2-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 0.8rem;
}


/* Keyframes pour l'animation d'apparition */
@keyframes slideUpFadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px); /* Part de 50px en bas */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Position finale */
    }
  }
  
  /* Style de base des cartes */
  .card {
    opacity: 0;
    transform: translateY(50px); /* Position de départ */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  /* Animation appliquée lorsqu'une carte devient visible */
  .card.in-view {
    animation: slideUpFadeIn 0.8s ease forwards;
  }
  
  /* Effet de survol */
  .card:hover {
    transform: translateY(-8px) !important; /* Ajout de !important pour prioriser cette règle */
    transition: transform 0.5s ease; /* Transition pour un effet de survol fluide */
  }
  


@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr); /* Toujours 4 cartes même sur écran moyen */
        gap: 15px;
    }

    .card img {
        height: 120px; /* Réduction de la taille de l'image */
    }

    .content h2 {
        font-size: 1rem;
    }

    .price, .description {
        font-size: 0.9rem; /* Réduction légère des textes */
    }
}

@media (max-width: 768px) {
    .description{
        display: none;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr); /* Toujours 4 colonnes */
        gap: 10px;
    }

    .card {
        max-width: 180px; /* Réduction de la taille de la carte */
    }

    .card img {
        height: 100px; /* Réduction supplémentaire de l'image */
    }

    .card h4 {
        margin-top: 20px;
        font-size: 0.7rem; /* Ajustement de la taille des titres */
    }

    .price, .description {
        font-size: 0.8rem; /* Texte plus petit */
    }

    .card a {
        padding: 8px 12px; /* Réduction du padding */
        font-size: 0.7rem; /* Réduction de la taille de la police */
    }
}

@media (max-width: 576px) {
    .description{
        display: none;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr); /* Toujours 4 colonnes, mais plus petites */
        gap: 5px;
    }

    .card {
        max-width: 150px; /* Encore plus petit pour les très petits écrans */
    }

    .card img {
        height: 80px; /* Taille d'image réduite pour mobile */
    }

    .card h4 {
        margin-top: 20px;
        font-size: 0.5rem; /* Taille de texte encore plus petite pour mobile */
    }

    .card a {
        padding: 6px 10px;
        font-size: 0.6rem;
    }

}






/* ABOUT */

/* CSS pour la section about */
#about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    padding: 0 20px; /* Padding pour s'assurer que les éléments ne collent pas aux bords */
    box-sizing: border-box;
    overflow: hidden; /* Empêche le débordement */
    margin-top: 30px;
}

#about .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement les éléments */
    height: 100%;
    gap: 20px; /* Espace entre les éléments */
    max-width: 1200px; /* Limite la largeur totale pour une meilleure lisibilité sur grand écran */
    box-sizing: border-box;
}

#about .title {
    text-align: center;
    font-size: 1.5rem; /* Taille de la police pour le titre */
    margin-top: 50px;
    margin: 0; /* Supprime les marges par défaut */
}

#about .search-container {
    position: relative;
    display: flex;
    align-items: center;
}
#about.search-container input[type="search"] {
    padding: 10px 40px 10px 20px; /* Ajout de l'espace pour l'icône */
    border: 1px solid var(--background-color);
    border-radius: 20px;
    font-size: 0.5rem;
    width: 500px;
}

#about.search-button {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--primary-bold-color);
}

#about .search-button i {
    font-size: 20px;
}


#about .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 700px;
}

#about .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-bar i {
    font-size: 1.5rem;
    color: var(--primary-bold-color);
    background-color: var(--text2-color);
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#about .checkbox-group {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espace entre chaque groupe de cases à cocher */
    margin-bottom: 20px; /* Espace vertical entre les groupes */
}

#about .checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 15px; /* Espace entre la case à cocher et le texte */
}

#about .checkbox-group input[type="checkbox"]:checked + label {
    color: var(--primary-color); /* Change la couleur du texte du label associé à la case cochée */
}

#about .checkbox-group input[type="checkbox"] {
    appearance: none; /* Supprime le style par défaut de la case */
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color); /* Ajoute une bordure bleue */
    border-radius: 4px; /* Donne un effet arrondi */
    position: relative;
    cursor: pointer;
}

#about .checkbox-group input[type="checkbox"]:checked {
    background-color: var(--secondary-color); /* Change la couleur de fond quand elle est cochée */
}

#about .checkbox-group input[type="checkbox"]:checked::before {
    content: '✔'; /* Ajouter une coche personnalisée */
    color: var(--text2-color);
    font-size: 15px;
    position: absolute;
    top: -2px;
    left: 2px;
}


#about .link-with-trace {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline; /* Ajouter le soulignement */
    text-align: right; /* Aligner le texte à droite */
    width: 100%; /* Permet d'utiliser tout l'espace horizontal disponible */
}


#about .about-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-bold-color);
    box-sizing: border-box;
    border-radius: 20px;
    color: var(--accent-color);
    flex-wrap: wrap; /* Flexibilité pour s'adapter aux petits écrans */
}

#about .about-box .video,
#about .about-box .text,
#about .about-box .img {
    width: 45%;
    max-width: 500px;
    border-radius: 10px;
}

/* CSS pour le texte dans la boîte about */
#about .about-box p {
    font-size: 1rem;
    line-height: 1.5; /* Améliore la lisibilité */
    overflow: visible; /* Affiche le texte au complet */
    white-space: normal; /* Permet le retour à la ligne */
}


#about .see-more {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

/* Media Queries pour la responsivité */
@media (max-width: 768px) {

    #about .about-box .video,
    #about .about-box .text {
        width: 100%;
        max-width: 100%; /* Utilise toute la largeur */
    }
    #about .about-box p {
        font-size: 0.9rem;
    }

    #about .search-bar {
        max-width: 100%;
    }
    #about .checkbox-group {
        gap: 20px; /* Réduit l’espace entre les cases à cocher */
    }
    #about .checkbox-group label {
        font-size: 0.9rem; /* Diminue la taille de la police */
    }
    #about .checkbox-group input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }
    #about .checkbox-group input[type="checkbox"]:checked::before {
        font-size: 14px;
        top: -1px;
        left: 2px;
    }
}

/* Responsivité pour les petits écrans (smartphones) */
@media (max-width: 480px) {
    #about .checkbox-group {
        gap: 15px;
    }
    #about .checkbox-group label {
        font-size: 0.8rem;
    }
    #about .checkbox-group input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }
    #about .checkbox-group input[type="checkbox"]:checked::before {
        font-size: 12px;
        top: 0;
        left: 1px;
    }

    #about .about-box {
        padding: 15px;
    }
    #about .about-box .video,
    #about .about-box .text {
        width: 100%; /* Utilise toute la largeur */
        max-width: 100%;
    }
    #about .about-box p {
        font-size: 0.5rem;
        line-height: 1.4;
    }
}










/*SECTION SERVICES*/
/* --- Section Cards --- */

.card-section {
    padding: 60px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.2em;
    color: var(--text2-color);
    margin-bottom: 40px;
}

/* --- Grid for Cards --- */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* --- Card Styling --- */
.card {
    background-color: var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(235, 212, 99, 0.1);
    transition: transform 0.3s ease;
    max-width: 350px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-text {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    color: var(--primary-bold-color);
    margin-bottom: 10px;
}

.card-description {
    font-size: 1em;
    line-height: 1.6;
}

/* --- See More Button --- */
.see-more-btn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: var(--primary-bold-color);
    color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover {
    background-color: var(--secondary-color);
    color: var(--text2-color);
}

/* --- Responsive Design --- */
@media (max-width: 768px) {
    .section-title {
        font-size: 2em;
    }

    .section-subtitle {
        font-size: 1.1em;
    }

    .card-description {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.8em;
    }

    .section-subtitle {
        font-size: 1em;
    }

    .card-description {
        font-size: 0.85em;
    }

    .card-image img {
        height: 150px;
    }
}








/* SECTION Newsletter et Partenaires */

/* Centrage de la div newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    background-color: var(--secondary-color); /* Choisis la couleur de fond que tu préfères */
    border-radius: 10px;
    max-width: 600px; /* Limite la largeur */
    margin: 40px auto; /* Centre horizontalement */
}

.newsletter h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--text2-color);
}

/* Formulaire en flex */
.newsletter-form {
    display: flex;
    flex-direction: column; /* Colonne */
    width: 100%; /* Assure que les éléments prennent toute la largeur */
}

.newsletter-form input {
    padding: 15px;
    margin-bottom: 15px; /* Espacement entre les champs */
    font-size: 1em;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    width: 100%; /* Largeur complète */
}

.newsletter-form button {
    padding: 12px;
    font-size: 1.2em;
    background-color: var(--primary-bold-color); /* Couleur du bouton */
    color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.newsletter-form button:hover {
    background-color: var(--primary-color); /* Couleur au survol */
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .newsletter {
        padding: 20px;
        max-width: 90%;
    }
}





/* PARTENAIRE */

.carousel {
    position: relative; /* Position relative pour le conteneur */
    overflow-x: hidden; /* Masque tout débordement */
    text-align: center; /* Centre le texte */
    padding: 40px 0;
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 90%;
    margin: 40px auto;
}

.carousel h1 {
    font-size: 2em;
    color: var(--text2-color);
    margin-bottom: 30px;
}

.logos {
    display: flex; /* Affiche les logos en ligne */
    white-space: nowrap; /* Empêche le retour à la ligne */
    animation: scroll 20s linear infinite; /* Animation de défilement fluide */
    gap: 40px;
    justify-content: center;
}

.logos img {
    width: 150px; /* Taille plus petite des logos pour meilleure lisibilité */
    height: auto; /* Conserver les proportions */
    transition: transform 0.3s ease; /* Ajout d'une animation sur le hover */
}

.logos img:hover {
    transform: scale(1.1); /* Légère agrandissement au survol */
}






/*FOOTER*/
footer {
    background-color: var(--text2-color); /* Couleur de fond du footer */
    color: var(--accent-color);
    max-width: 100%; /* Empêche le footer de dépasser la largeur de l'écran */
    padding: 20px; /* Ajoute un espace interne sans provoquer de débordement */
}

.footer {
    display: flex; /* Affiche les colonnes en ligne */
    justify-content: space-around; /* Espacement égal entre les colonnes */
    flex-wrap: wrap; /* Permet aux colonnes de passer à la ligne si l'écran est trop étroit */
    max-width: 1200px; /* Largeur maximale du footer */
    margin: 0 auto; /* Centrage du footer */
}

.footer-column {
    flex: 1; /* Chaque colonne prend une part égale de l'espace */
    min-width: 200px; /* Largeur minimale pour chaque colonne */
    text-align: center; /* Centre le texte */
    padding: 10px; /* Espacement interne */
    
    
}

.footer-column img {
    max-width: 100px; /* Largeur maximale pour le logo */
    height: auto; /* Hauteur automatique pour conserver le ratio */
    margin-bottom: 10px; /* Espacement en dessous du logo */
}

.column-services{
    text-align: left;
}

.footer h4 {
    font-size: 1.2em; /* Taille de la police pour les titres */
    margin-bottom: 10px; /* Espacement en dessous du titre */
    color: var(--primary-color);
}

.services_footer{
    display: flex;
    flex-direction: column;
}


.footer p {
    font-size: 0.9em; /* Taille de la police pour le texte */
}

/* Lien d'email */
.footer a {
    color: var(--secondary-color); /* Couleur violette pour le lien */
    text-decoration: none; /* Supprime le soulignement */
    line-height: 25px;
}

.footer a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol */
}
